In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [6]:
datf=pd.read_excel('fraud.xlsx')
datf.head

<bound method NDFrame.head of       trans_date_trans_time                          merchant        category  \
0       2019-04-01 00:58:00  "Stokes, Christiansen and Sipes"     grocery_net
1       2019-04-01 15:06:00                      Predovic Inc    shopping_net
2       2019-04-01 22:37:00                   Wisozk and Sons        misc_pos
3       2019-04-01 23:06:00                    Murray-Smitham     grocery_pos
4       2019-04-01 23:59:00                        Friesen Lt  health_fitness
...                     ...                               ...             ...
14441      22-01-2019 00:37                      Hudson-Grady    shopping_pos
14442      22-01-2019 00:41    "Nienow, Ankunding and Collie"        misc_pos
14443      22-01-2019 00:42                  Pacocha-O'Reilly     grocery_pos
14444      22-01-2019 00:48     "Bins, Balistreri and Beatty"    shopping_pos
14445      22-01-2019 00:55                Daugherty-Thompson     food_dining

          amt        city state      lat      long  city_pop  \
0       14.37       Wales    AK  64.7556 -165.6723       145
1      966.11       Wales    AK  64.7556 -165.6723       145
2       49.61       Wales    AK  64.7556 -165.6723       145
3      295.26       Wales    AK  64.7556 -165.6723       145
4       18.17       Wales    AK  64.7556 -165.6723       145
...       ...         ...   ...      ...       ...       ...
14441  122.00      Athena    OR  45.8289 -118.4971      1302
14442    9.07    Gardiner    OR  43.7857 -124.1437       260
14443  104.84        Alva    WY  44.6873 -104.4414       110
14444  268.16       Wales    AK  64.7556 -165.6723       145
14445   50.09  Unionville    MO  40.4815  -92.9951      3805

                                     job                  dob  \
0             "Administrator, education"  1939-09-11 00:00:00
1             "Administrator, education"  1939-09-11 00:00:00
2             "Administrator, education"  1939-09-11 00:00:00
3             "Administrator, education"  1939-09-11 00:00:00
4             "Administrator, education"  1939-09-11 00:00:00
...                                  ...                  ...
14441                             Dealer           18-10-1976
14442            "Engineer, maintenance"  1956-01-09 00:00:00
14443  "Administrator, local government"           16-05-1973
14444         "Administrator, education"  1939-09-11 00:00:00
14445     "Investment banker, corporate"           15-09-1950

                              trans_num  merch_lat  merch_long is_fraud
0      a3806e984cec6ac0096d8184c64ad3a1  65.654142 -164.722603        1
1      a59185fe1b9ccf21323f581d7477573f  65.468863 -165.473127        1
2      86ba3a888b42cd3925881fa34177b4e0  65.347667 -165.914542        1
3      3a068fe1d856f0ecedbed33e4b5f4496  64.445035 -166.080207        1
4      891cdd1191028759dc20dc224347a0ff  65.447094 -165.446843        1
...                                 ...        ...         ...      ...
14441  699a4c06b22711bf3e0d8ef91232d356  46.442439 -118.524214        0
14442  080d620d24815c7d6c637cf0b71dde8e  42.901265 -124.995317        0
14443  3c346c8cd627c5fe3ed57430db2e9ae7  45.538062 -104.542117        0
14444  e66ffcc95ba7fc490486242af1205d04  64.081462 -165.898698        0
14445  65e7370f473f9b9d75796c8033a7c929  40.387243  -92.224871        0

[14446 rows x 15 columns]>

In [7]:
datf.dtypes

trans_date_trans_time     object
merchant                  object
category                  object
amt                      float64
city                      object
state                     object
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
merch_lat                float64
merch_long               float64
is_fraud                  object
dtype: object

In [8]:
datf.describe()

,amt,lat,long,city_pop,merch_lat,merch_long
count,14446.000000,14446.000000,14446.000000,1.444600e+04,14446.000000,14446.000000
mean,124.430073,39.787692,-110.874225,1.065370e+05,39.787991,-110.874892
std,231.352587,5.317039,12.985813,2.902916e+05,5.360593,12.995596
min,1.000000,20.027100,-165.672300,4.600000e+01,19.032689,-166.670685
25%,12.080000,36.715400,-120.415800,4.930000e+02,36.794655,-120.146253
50%,51.520000,39.666200,-111.098500,1.645000e+03,39.620953,-111.192629
75%,101.030000,41.940400,-101.136000,3.543900e+04,42.275740,-100.446822
max,3261.470000,66.693300,-89.628700,2.383912e+06,67.510267,-88.646366

In [9]:
datf.isnull().sum()

trans_date_trans_time    0
merchant                 0
category                 0
amt                      0
city                     0
state                    0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [ ]:
import sklearn 
from sklearn.ensemble import r
model